#container2{
    display: flex;
    justify-content: space-between;
    height:100%;
    text-align: center;
}

#border1{
    border: 1px dotted black;
    margin-left: 55px;
}

#container2 :hover {
    background-color: black;
    
}